* {
    margin: 0;
    padding: 0;
}
.titulo {
    background-image: url("./img/fondo.jpg");
    background-repeat: repeat;
    height: 6rem;
    text-align: center;
    color: rgb(255, 242, 0);
    padding-top: 2rem;
}
.texto {
    padding-top: 2rem;
    color: ghostwhite;
}
.cont {
    background-image: url("./img/darth.jpg");
    
}
.logo {
    height: 4rem;
    width: 6rem;
}
.indice {
    height: 100%;
    padding-right: 3rem;
    text-align: right;
    align-items: center;
}
.rangoIndice {
    border-radius: 50px;
    height: 3rem;
    width: 3rem;
    background-color: rgb(69, 85, 108);
    margin-right: 0.5rem;
    color: aliceblue;
}
.a {
    display: inline-block;
}
.circle1 {
    border-radius: 50px;
    height: 1.2rem;
    width: 1.2rem;
    background-color: rgb(238, 71, 102);
}
.circle2 {
    border-radius: 50px;
    height: 1.2rem;
    width: 1.2rem;
    background-color: rgb(82, 233, 92);
}
.circle3 {
    border-radius: 50px;
    height: 1.2rem;
    width: 1.2rem;
    background-color: rgb(98, 205, 244);
}
.columna1 {
    height: 100%;
    background-color: white;
    border: 1px solid grey;
}
.card-title {
    font-size: 0.8rem;
}
.card-text {
    font-size: 0.7rem;
}
#imgGraph1 {
    width: 20rem;
    height: 10rem;
}
#imgGraph2 {
    width: 20rem;
    height: 10rem;
}
#imgGraph3 {
    width: 20rem;
    height: 10rem;
}
.contGraf {
    border: 1px solid ghostwhite;
    color: ghostwhite;
    text-align: center;
}